<h1>ごはん</h1>

<% @posts.each do |t| %>
  <% if t.category == "food" %>  
    <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "編集する", edit_post_path(t.id) %>
      <%= button_to "削除する", post_path(t.id), method: :delete %> 
    <% end %> 

    <div class="post">
     <div class="image">
       <%= t.user.email %>
       <%= image_tag t.image_url, size: "280x210" if t.image? %>
     </div> 
     <%= t.category %>
     <%= t.place %>
     <%= t.create_date %>
     <%= t.comment %>
     <% t.tags.each do |tag| %>
       <span><%= tag.name %></span>
     <% end %>
    </div>

    <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% end %>
    <% else %>
      <i class="far fa-heart"></i><%= t.likes.count %>
    <% end %>
    <p><%= link_to "詳細へ", post_path(t.id) %> 
  <% end %>

<% end %>